.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardsWrapper {
  margin-top: 18px;
}

.section {
  padding: 16px 8px 16px 8px;
}
